<div class="messaging-template">
  <div class="container">
    <h1 class="text-danger">App Messaging Template</h1>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <div class="message-bg arrow-down">
          <app-messaging
            [guestName]="guest"
            [companyName]="company"
            [room]="room"
            [messageTitle]="messageTitle"
            [messageAppend]="messageAppend"
          ></app-messaging>
        </div>
      </div>
      <!-- User input -->
      <div class="col-md-6 mx-auto">
        <form
          #validateForm="ngForm"
          #handleMessage="ngForm"
          (ngSubmit)="onSubmitMessage(handleMessage.value)"
        >
          <div class="form-group">
            <label for="guest">Guest Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your name"
              name="guest"
              id="guest"
              ngModel
              required
            />
          </div>
          <!-- Hotel name -->
          <div class="form-group">
            <label for="company">Hotel Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your hotel name"
              name="company"
              ngModel
              required
            />
          </div>
          <!-- ROOM Number -->
          <div class="form-group">
            <label for="room">Room Number</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your room number"
              name="room"
              ngModel
              required
            />
          </div>
          <!-- Select message -->
          <div class="form-group">
            <label for="title">Select number of room(s)</label>
            <select
              name="title"
              id="title"
              ngModel
              required
              class="form-control"
              #messagesTemplate
            >
              <option value="" disabled>Please select a message</option>
              <option value="fmt">Choose a message from template 1</option>
              <option value="smt">Choose a message from template 2</option>
              <option value="thmt">Choose a message from template 3</option>
            </select>
          </div>
          <div class="form-group">
            <button
              class="btn btn-outline-danger text-uppercase"
              [disabled]="!validateForm.valid"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
